@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap");
body {
	margin: 0;
	line-height: normal;
}
.d-1-farmer {
	width: 100%;
	position: relative;
	backdrop-filter: blur(22.5px);
	background-color: #fff;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: center;
	padding: 20px;
	box-sizing: border-box;
	line-height: normal;
	letter-spacing: normal;
}
@media screen and (max-width: 675px) {
	.d-1-farmer {
		gap: 16px;
	}
}
.personal-detail-1-icon {
	height: 150px;
	width: 197.7px;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
}
.movie-card {
	width: 303px;
	border-radius: 24px;
	background-color: rgba(41, 187, 73, 0.06);
	border: 1px solid #29bb49;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 11px 20px 21px;
	min-width: 303px;
}
.personal-details {
	margin: 0;
	position: relative;
	font-size: inherit;
	font-weight: 600;
	font-family: inherit;
}
.discover-a-diverse {
	align-self: stretch;
	position: relative;
	font-size: 18px;
	font-family: "DM Sans";
	color: #6f6c8f;
}
.insights-header {
	align-self: stretch;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 12px;
}
.progress-element-one {
	position: relative;
	font-weight: 600;
	display: inline-block;
	min-width: 11px;
}
.progress-items-one {
	border-radius: 9px;
	background-color: #29bb49;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 9px 18px;
}
.progress-element-two {
	align-self: stretch;
	height: 3px;
	position: relative;
	border-top: 3px solid rgba(41, 187, 73, 0.47);
	box-sizing: border-box;
}
.progress-items-two {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 0 16.5px;
}
.progress-row-one {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	min-width: 114px;
	color: #fff;
}
.div {
	position: relative;
	font-weight: 600;
	display: inline-block;
	min-width: 11px;
}
.wrapper {
	width: 47px;
	border-radius: 9px;
	border: 3px solid rgba(41, 187, 73, 0.47);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 5px 15px;
}
.frame-child {
	align-self: stretch;
	height: 3px;
	position: relative;
	border-top: 3px solid rgba(41, 187, 73, 0.47);
	box-sizing: border-box;
}
.progress-row-one-inner {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 0 16.5px;
}
.progress-row-one1 {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	min-width: 114px;
}
.div1 {
	position: relative;
	font-weight: 600;
	display: inline-block;
	min-width: 11px;
}
.container {
	width: 47px;
	border-radius: 9px;
	border: 3px solid rgba(41, 187, 73, 0.47);
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 5px 15px;
}
.frame-item {
	align-self: stretch;
	height: 3px;
	position: relative;
	border-top: 3px solid rgba(41, 187, 73, 0.4);
	box-sizing: border-box;
}
.progress-row-one-child {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
	padding: 0 0 16.5px;
}
.progress-row-one2 {
	flex: 1;
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	justify-content: flex-start;
	min-width: 114px;
}
.div2 {
	position: relative;
	font-weight: 600;
	display: inline-block;
	min-width: 11px;
}
.progress-caption {
	width: 47px;
	border-radius: 9px;
	border: 3px solid rgba(41, 187, 73, 0.47);
	box-sizing: border-box;
	flex-direction: row;
	padding: 5px 15px;
}
.insights-header-parent,
.movie-card-parent,
.progress,
.progress-caption {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
}
.progress {
	align-self: stretch;
	flex-direction: row;
	font-size: 18px;
	color: rgba(41, 187, 73, 0.6);
}
.insights-header-parent,
.movie-card-parent {
	max-width: 100%;
}
.insights-header-parent {
	flex: 1;
	flex-direction: column;
	gap: 36px;
	min-width: 372px;
}
.movie-card-parent {
	align-self: stretch;
	flex-direction: row;
	gap: 24px;
}
.which-best-describes {
	position: relative;
	font-weight: 600;
}
.which-best-describes-you-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 0 35px 0 34px;
	box-sizing: border-box;
	max-width: 100%;
}
.farmer-trader-items {
	margin: 0;
	width: 78px;
	height: 16px;
}
.farmer {
	text-decoration: none;
	position: relative;
	color: inherit;
	display: inline-block;
	min-width: 59px;
}
.farmer-trader-options {
	border-radius: 9px;
	background-color: #fff;
	border: 0.5px solid rgba(41, 187, 73, 0.2);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 11px 11px 28px 29px;
	gap: 12px;
}
.frame-input {
	margin: 0;
	width: 75px;
	height: 16px;
}
.trader {
	position: relative;
	display: inline-block;
	min-width: 54px;
}
.farmer-trader-options1 {
	border-radius: 9px;
	background-color: #fff;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	padding: 11px 11px 28px 32px;
	gap: 12px;
}
.official-icon {
	margin: 0;
	width: 16px;
	height: 16px;
	position: relative;
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.14);
	box-sizing: border-box;
	overflow: hidden;
	flex-shrink: 0;
}
.govt-official {
	position: relative;
	display: inline-block;
	min-width: 108px;
}
.official-option {
	border-radius: 9px;
	background-color: #fff;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	padding: 11px 12px 28px;
	gap: 12px;
	text-align: center;
}
.frame-parent,
.occupation-options {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: flex-start;
	gap: 48px;
	max-width: 100%;
	font-size: 18px;
	font-family: "DM Sans";
}
.frame-parent {
	align-self: stretch;
	border-radius: 24px;
	background-color: rgba(41, 187, 73, 0.05);
	border: 0.8px solid rgba(41, 187, 73, 0.05);
	box-sizing: border-box;
	overflow: hidden;
	flex-direction: column;
	align-items: center;
	padding: 69px 20px 65px;
	gap: 40px;
	font-size: 31.5px;
	font-family: Raleway;
}
.right-1-icon {
	height: 18px;
	width: 18px;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	object-fit: contain;
}
.back {
	align-self: stretch;
	position: relative;
}
.continue,
.right-1-parent {
	font-size: 18px;
	font-family: "DM Sans";
}
.right-1-parent {
	border-radius: 9px;
	background-color: #fff;
	border: 0.5px solid rgba(0, 0, 0, 0.2);
	overflow: hidden;
	display: none;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 12px 24px;
	gap: 5px;
	color: rgba(0, 0, 0, 0.5);
}
.continue {
	position: relative;
	display: inline-block;
	color: #fff;
	text-align: left;
	min-width: 82px;
}
.right-1-icon1 {
	height: 23px;
	width: 23px;
	position: relative;
	overflow: hidden;
	flex-shrink: 0;
	min-height: 23px;
}
.continue-button,
.continue-button-wrapper {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
}
.continue-button {
	cursor: pointer;
	border: 0;
	padding: 12px 24px;
	background-color: #29bb49;
	border-radius: 12px;
	overflow: hidden;
	justify-content: flex-start;
	gap: 7px;
}
.continue-button:hover {
	background-color: #0fa130;
}
.continue-button-wrapper {
	justify-content: flex-end;
	padding: 0 32px;
}
.personalization {
	width: 964px;
	backdrop-filter: blur(22.5px);
	border-radius: 24px;
	background-color: #fff;
	border: 0.5px solid #29bb49;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
	padding: 31px 31px 33px;
	gap: 33px;
	max-width: 100%;
	text-align: left;
	font-size: 36px;
	color: #000;
	font-family: Roboto;
}
@media screen and (max-width: 825px) {
	.movie-card,
	.personal-detail-1-icon {
		flex: 1;
	}
	.personal-details {
		font-size: 29px;
	}
	.movie-card-parent {
		flex-wrap: wrap;
	}
	.which-best-describes {
		font-size: 25px;
	}
}
@media screen and (max-width: 675px) {
	.progress {
		flex-wrap: wrap;
	}
	.insights-header-parent {
		gap: 18px;
		min-width: 100%;
	}
	.occupation-options {
		flex-wrap: wrap;
		gap: 24px;
	}
	.frame-parent {
		gap: 20px;
	}
	.personalization {
		gap: 16px;
		padding-top: 20px;
		padding-bottom: 21px;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 450px) {
	.personal-details {
		font-size: 22px;
	}
	.which-best-describes {
		font-size: 19px;
	}
}
.selected-option {
	background-color: #acf5b7;
}
